* {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
}

body {
    background-color: rgb(44, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    color: #000;
}

.flip-container {
    perspective: 1000px;
    width: 100%;
    max-width: 600px; 
    height: auto;
    position: relative;
}

.front, .back {
    width: 100%; 
    height: auto; 
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.front {
    background-image: url(image/front.png);
    background-size: cover;
    transform: rotateY(0deg);
}

.back {
    background-image: url(image/back.png);
    background-size: cover;
    background-color: #000;
    transform: rotateY(180deg);
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

@media (max-width: 768px) { 
    .flip-container, .front, .back {
        width: 100%;
    }
}

@media (max-width: 480px) { 
    h1, p, .icons {
        margin: 0 10px;
        width: auto;
    }

    .icon-box {
        left: 10px;
    }
}

h1, p, .icons{
    color: #000;
    font-family: 'lato';
    margin-left: 30%;
    line-height: 90%;
}
h1{
    margin-top: 5%;
}
p{
    font-size: 16px;
    padding-bottom: 15px;
    width: 35%;
    border-bottom: 2px solid #000;
}
.bold{
    font-weight: bold;
}
.icons{
    margin-top: 25px;
}
.icon-group{
    margin-top: 8px;
}
.back .icons span, .back .icons a{
    font-size: 16px;
    text-decoration: none;
}
.back .icons a:hover{
    color: #3f3f3f;
}
.back .icon-box{
    position: relative;
    color: #000;
    font-size: 30px;
    height: 35px;
    width: 35px;
    padding: 5px;
    top: 75px;
    left: 30%;
    display: inline-block;
    border: 2px solid #000;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
}
.back .icon-box:hover{
    box-shadow: inset 0 50px 0 0 #000;
    color: #fff;
}
.icon-box i{
    margin-top: 5px;

}
